@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Global */
* {

font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #04AA6D;
}

#grupos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    
}

#grupos td,
#grupos th {
 border: none;
 padding: 8px;
}

#grupos tr:nth-child(even) {
    background-color: #f2f2f2;
}

#grupos tr:hover {
    background-color: #ddd;
}

#grupos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #45c294;
    color: white;
}

.menu {
    width: 40%;
    float: left;
}

.main {
    background-color: rgba(231, 231, 231, 0.747);
    width: 60%;
    float: left;
}

.quadrado {
    margin-right: 20%;
    margin-left: 20%;

    width: -moz-fit-content;
    display: inline-block;
    width: fit-content;
    margin-bottom: 10px;
    border-radius: 17px;
    position: relative;
    align-self: flex-start;
}

p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto
}

input[type=text] {

    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.container1 {
    margin-left: 5%;
}

button{
    padding: 12px 20px;
}