<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>

    <h1>Cadastro grupos</h1>

    <form action="/grupos" method="POST">
        <label for="nome">Nome</label>
        <input type="text" name="nome">
        <label for="id">Id</label>
        <input type="text" name="id">
        <br /><br />

        <input type="submit" value="CADASTRAR">
        <br /><br />        

    </form>

    <footer>
        <p>Desenvolvido nas aulas do IFRS <3</p>
    </footer>

</body>
</html>