<header>
    <h1 id="nav-title">WhatsApp 2</h1>
    <nav>
        <ul>
            <li><a href="/grupos">Menu</a></li>
            <li><a href="/login.html">Login</a></li>
            <li><a href="/grupos/cadastrar">Criar Grupo</a></li>
        </ul>
    </nav>
</header>