<header>
    <h1 id="nav-title" onclick="window.location='/'">Whatsapp 2</h1>
    <nav>
        <ul>
                <% if (user) { %>
                    <li><%= user.nome %>
                    </li>
                    <% } %>
                    <li><a href="/grupos">Menu</a></li>
                    <li><a href="/grupos/meusgrupos">Meus grupos</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/grupos/cadastrar">Criar Grupo</a></li>
        </ul>
    </nav>
</header>