<header>
    <h1 id="nav-title">chatXx</h1>
    <nav>
        <ul>
            <li><a href="/grupos">grupos</a></li>
            <li><a href="/login.html">LOGIN</a></li>
            <li><a href="/grupos/cadastrar">CADASTRAR</a></li>
        </ul>
    </nav>
</header>